/* Buttons */
 
button,
[class*="btn"], 
[class*="button"] {
    padding: 7px 18px;
    white-space: nowrap;
}

button + button {
     margin-left: 5px; 
} 

.btn-no-background {
    padding: 0; 
}

.btn-small-padding {
    font-size: 14px;
    padding: 5px 10px; 
}

button.btn-no-background + button {
    margin-left: 20px; 
}

.btn-no-background:hover {
    text-decoration: underline;
} 

button[class*='has-background'] {
    font-size: 1.2em;
    font-weight: 500;
    padding: 7px 18px;
    box-shadow: var(--solid-dropshadow), 0 10px 5px 0 rgba(0, 0, 0, 0.15); 
    transform: translateY(-5px);
    border-radius: 30px; 
    border: 2px solid #2B2D41;
    text-align: center;
    transition: all var(--transition-speed-fast) ease-in-out;
} 

button[class*='has-background']:hover { 
    box-shadow: var(--solid-dropshadow-hover), 0 10px 5px 0 rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
}

button[class*='has-background']:active { 
    box-shadow: var(--solid-dropshadow-active);
    transform: translateY(0px);
} 

button.has-underline { 
    opacity: 1; 
    transition: all var(--transition-speed-fast) ease-in;
}

button.has-underline:hover { 
    opacity: 0.5;
}
