/* Form */

form [class*="success"] {
  color: var(--success);
}

form label {
  margin-bottom: 10px;
}

form input[type="radio"],
form input[type="radio"] + label {
  display: inline-block;
}

form input[type="radio"] + label {
  padding-left: 5px;
  padding-right: 20px;
}

form select,
form textarea,
form input:not([type="radio"]),
form input:not([type="checkbox"]), 
form input:not([type="submit"]), 
form input:not([type="reset"]) {
  width: 100%;
  display: inline-block;
}

form select,
form textarea,
form input {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 7px;
    background-clip: padding-box;
    border: 1px solid #2B2D41;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

form select[disabled],
form textarea[disabled],
form input[disabled] {
  border: none!important; 
  font-weight: 500;
}

form select:not([class*="has-color"]), 
form textarea:not([class*="has-color"]), 
form input:not([class*="has-color"]),
form input:not([type="submit"]), 
form input:not([type="reset"]) {
    color: #495057;
}

form input[type="search"] {
  outline-offset: -2px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

form select {
  background-image: url(../icons/caret-down.svg);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: calc(100% - 10px) calc(100% * 0.5);  
  appearance: none;
}

form select::-ms-expand {
    display: none;
}

form .error input,
form .error select,
form .error textarea {
  border-color: var(--main-color);
}

form .error input,
form .error select {
  margin-bottom: 10px;
}

form .error ul {
  padding-left: 0;
}

form .error li {
  margin-bottom: 5px;
  margin-left: 0;
  padding-left: 1.5em;
  list-style: none;
  color: var(--main-color);
}

form .error li::before {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -0.2em;
  width: 1em;
  height: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

form label.required::after {
  margin-left: 2px;
  color: var(--main-color);
  content: '*';
}

form label.inline-block, 
form label.inline-block + input, 
form label.inline-block + select,
form label.inline-block + textarea {
    display: inline-block;
    width: auto !important; 
}

form select[disabled], 
form textarea[disabled], 
form input[disabled] {
    background-color: transparent;
    border: none;
    padding-left: 0; 
    padding-right: 0;
    color: var(--secondary-color);
}

::placeholder {
    color: var(--secondary-color);    
}

fieldset {
  padding: 20px;
}

label,
label + input[type="radio"], 
label + input[type="checkbox"] {
  display: inline-block;
}

label + input[type="radio"], 
label + input[type="checkbox"] {
   float: left;
   margin-right: 10px;
   height: 22px;
   width: auto; 
}

form input[type="submit"],
form input[type="reset"] {
    font-size: 18px;
    color: white;
    padding: 7px 18px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--main-color);
    border-radius: 5px;
    text-align: center;
    width: auto !important;
}

form input[type="submit"]:hover {
    background-color: white; 
    color: var(--secondary-color); 
}