h-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
}

/* Rows */

div.h-row {
    display: block;
    position: relative;
    font-size: 0;
}

@media (max-width: 639.98px) {

    .h-row {
        margin-left: calc(var(--gutter-sm) * -1);
        margin-right: calc(var(--gutter-sm) * -1);
    }

}

@media (min-width: 640px) and (max-width: 1279.98px) {

    .h-row {
        margin-left: calc(var(--gutter-md) * -1);
        margin-right: calc(var(--gutter-md) * -1);
    }

}

@media (min-width: 1279.98px) {

    .h-row {
        margin-left: calc(var(--gutter-lg) * -1);
        margin-right: calc(var(--gutter-lg) * -1);
    }

} 

@media ( min-width: 1600px ) {

    .h-row {
        margin-left: calc(var(--gutter-x-lg) * -1);
        margin-right: calc(var(--gutter-x-lg) * -1);
    }
    
}

/* Columns */

.v-col {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.v-col .align-right {
    float: right;
}

.v-col .align-bottom {
    vertical-align: bottom;
}

.v-col > .v-col {
    margin-bottom: 0;
}

@media (max-width: 639.98px) {

    .v-col {
        padding-left: var(--gutter-sm);
        padding-right: var(--gutter-sm);
    }

    .v-col:not([class*="mg-bottom"]) { margin-bottom: var(--vertical-spacing-sm); }

    .v-col[class*="sm-1"] { width: calc((100% / 4) * 1); }
    .v-col[class*="sm-2"] { width: calc((100% / 4) * 2); }
    .v-col[class*="sm-3"] { width: calc((100% / 4) * 3); }
    .v-col[class*="sm-4"] { width: calc((100% / 4) * 4); }

}

@media (min-width: 640px) {

    .v-col {
        padding-left: var(--gutter-md);
        padding-right: var(--gutter-md);
    }

    .v-col:not([class*="mg-bottom"]) { margin-bottom: var(--vertical-spacing-md); }

    .v-col[class*="md-1"] { width: calc((100% / 6) * 1); }
    .v-col[class*="md-2"] { width: calc((100% / 6) * 2); }
    .v-col[class*="md-3"] { width: calc((100% / 6) * 3); }
    .v-col[class*="md-4"] { width: calc((100% / 6) * 4); }
    .v-col[class*="md-5"] { width: calc((100% / 6) * 5); }
    .v-col[class*="md-6"] { width: calc((100% / 6) * 6); }

}

@media (min-width: 640px) and (max-width: 1279.98px) {

    .h-row.uneven-6 .v-col[class*="md-1"] {
        width:17.1%;
    }

    .h-row.uneven-6 .v-col[class*="md-1"]:last-child {
        width: 14.28%;
    }

    .h-row.even-7 .v-col[class*="md-1"] {
        width: 14.28%;
    }

}

/* Add a breakpoint between 1280px and 1599px */

@media (min-width: 1279.98px) {
    
    .v-col {
        padding-left: var(--gutter-lg);
        padding-right: var(--gutter-lg);
    }

    .v-col:not([class*="mg-bottom"]) {
        margin-bottom: var(--vertical-spacing-lg);
    }

    .v-col[class*="lg-1"] { width: calc((100% / 8) * 1); }
    .v-col[class*="lg-2"] { width: calc((100% / 8) * 2); }
    .v-col[class*="lg-3"] { width: calc((100% / 8) * 3); }
    .v-col[class*="lg-4"] { width: calc((100% / 8) * 4); }
    .v-col[class*="lg-5"] { width: calc((100% / 8) * 5); }
    .v-col[class*="lg-6"] { width: calc((100% / 8) * 6); }
    .v-col[class*="lg-7"] { width: calc((100% / 8) * 7); }
    .v-col[class*="lg-8"] { width: calc((100% / 8) * 8); }

}

@media (min-width: 1280px) and (max-width: 1599.98px) {

    .h-row.uneven-6 .v-col[class*="lg-1"] {
        width:17.1%;
    }

    .h-row.even-3 .v-col[class*="lg-2"] {
        width: 33.333%;
    }

    .h-row.even-7 .v-col[class*="lg-1"] {
        width: 14.28%;
    }

}

@media ( min-width: 1600px ) {

    .v-col {
        padding-left: var(--gutter-x-lg);
        padding-right: var(--gutter-x-lg);
    }

    .v-col:not([class*="mg-bottom"]) {
        margin-bottom: var(--vertical-spacing-x-lg);
    }

    .v-col[class*="lg-x-1"] { width: calc((100% / 12) * 1); }
    .v-col[class*="lg-x-2"] { width: calc((100% / 12) * 2); }
    .v-col[class*="lg-x-3"] { width: calc((100% / 12) * 3); }
    .v-col[class*="lg-x-4"] { width: calc((100% / 12) * 4); }
    .v-col[class*="lg-x-5"] { width: calc((100% / 12) * 5); }
    .v-col[class*="lg-x-6"] { width: calc((100% / 12) * 6); }
    .v-col[class*="lg-x-7"] { width: calc((100% / 12) * 7); }
    .v-col[class*="lg-x-8"] { width: calc((100% / 12) * 8); }
    .v-col[class*="lg-x-9"] { width: calc((100% / 12) * 9); }
    .v-col[class*="lg-x-10"] { width: calc((100% / 12) * 10); }
    .v-col[class*="lg-x-11"] { width: calc((100% / 12) * 11); }
    .v-col[class*="lg-x-12"] { width: calc((100% / 12) * 12); }

}

@media (max-width: 639.98px) {

    .v-col.hidden-sm {
        display: none; 
    }

} 


@media (min-width: 640px) and (max-width: 1279.98px) {

    .v-col.hidden-md {
        display: none; 
    }

}

@media (min-width: 1279.98px) and (max-width: 1599.98px) {

    .v-col.hidden-lg {
        display: none; 
    }

}

@media ( min-width: 1600px ) {

    .v-col.hidden-lg-x {
        display: none; 
    }

}